.numbers {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.num-btn {
    font-size: 32px;
    background: black;
    color: white;
    outline: none;
    border: none;
    padding: 5px 10px;
    margin: 60px 0;
    align-self: center;
}

.num-btn:active {
    background: grey;
}

.num-row {
    display: flex;
    justify-content: space-between;
}

.num-item {
    padding: 30px;
    border-radius: 50%;
    border: solid 1px #282c34;
    align-self: flex-start;
}